* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ff4da6, #a259ff, #00f5d4);
    background-attachment: fixed;
    color: #111;
}

header {
    background: #FFD84D;
    padding: 20px 60px;
    border-bottom: 5px solid #111;
    box-shadow: 0 8px 0 #111;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 24px;
    font-weight: 900;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
    padding: 6px 10px;
    transition: 0.3s;
}

.nav-links a:hover {
    background: #A259FF;
    color: white;
    border: 3px solid #111;
}

.hero {
    background: linear-gradient(45deg, #FFD84D, #FF4DA6);
    padding: 120px 60px;
    border: 6px solid #111;
    box-shadow: 20px 20px 0px #111;
    margin: 60px;
}

.hero h2 {
    font-size: 70px;
    font-weight: 900;
}

.hero p {
    font-size: 22px;
    margin-top: 20px;
}

main {
    padding: 60px;
}

section {
    background: white;
    padding: 60px;
    margin-bottom: 80px;
    border: 6px solid #111;
    box-shadow: 15px 15px 0px #111;
}

h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 40px;
}

.project-card {
    background: #FF4DA6;
    border: 5px solid #111;
    padding: 30px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 0px #111;
    transition: 0.3s;
}

.project-card:nth-child(2) {
    background: #00F5D4;
}

.project-card:nth-child(3) {
    background: #FFD84D;
}

.project-card:hover {
    transform: rotate(-2deg) scale(1.03);
}

.project-card img {
    width: 100%;
    border: 4px solid #111;
    margin-bottom: 15px;
}

.profile-section {
    display: flex;
    gap: 60px;
    align-items: center;
}

.profile-image img {
    width: 300px;
    border: 5px solid #111;
    box-shadow: 15px 15px 0px #A259FF;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.gallery-item img {
    width: 100%;
    border: 5px solid #111;
    box-shadow: 10px 10px 0px #FF4DA6;
    transition: 0.3s;
}

.gallery-item img:hover {
    transform: scale(1.05) rotate(2deg);
}

.skill {
    margin-bottom: 25px;
}

progress {
    width: 100%;
    height: 20px;
    accent-color: #A259FF;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    border: 4px solid #111;
    margin-bottom: 20px;
}

button {
    padding: 12px 30px;
    background: #A259FF;
    color: white;
    border: 4px solid #111;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 8px 8px 0px #111;
    transition: 0.3s;
}

button:hover {
    transform: translate(-6px, -6px);
    background: #FF4DA6;
}

.contact-info {
    margin-top: 30px;
    font-weight: bold;
} 

